<!DOCTYPE html>
<html>
	<head>
		<% include headerStuff %>
	</head>
	<body>
		<% include pageHeader %>

		<!-- content here -->
	<div class="container alert-warning text-center py-5 my-5 404 rounded-circle">
			<h1 class="font-weight-bold">Oop!</h1>			
			<hr>
			
			<h2>Internal Server Error</h2>
			<p>Back to <a class="text-info" href="/"><span class="fa fa-home"></span>home</a> page.</p>
		</div>	
		<% include pageFooter %>
		<% include footerStuff %>
  </body>
</html>
