<div class="card mb-2">
	<div class="card-header">
		<h4>Top quote</h4>
	</div>
	<div class="card-body">
		<ul class="" style="list-style:none">
			<li class="">Cras justo odio</li>
			<li class="">Dapibus ac facilisis in</li>
			<li class="">Morbi leo risus</li>
			<li class="">Porta ac consectetur ac</li>
			<li class="">Vestibulum at eros</li>
		</ul>
	</div>
</div>
