<div class="card mb-2">
	<div class="card-header">
		<h4>Common tag</h4>
	</div>
	<div class="card-body">
		<a class="btn" href="#"><span class="badge badge-bill badge-info p-2">love</span></a>
		<a class="btn" href="#"><span class="badge badge-bill badge-light p-2">life</span></a>
		<a class="btn" href="#"><span class="badge badge-bill badge-danger p-2">famous</span></a>
		<a class="btn" href="#">spirit</a>
		<a class="btn" href="#">bussiness</a>
		<a class="btn" href="#">so young</a>
		<a class="btn" href="#">albert enstein</a>
	</div>
</div>
